
<bs-modal #modal size="lg">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Change Person Data</h4>
  </bs-modal-header>
  <bs-modal-body>
    <div>
      <table class="table">
        <thead>
        <tr>
          <th *ngIf="ascName">Name <span (click)="sortColumn('name')" style="cursor: pointer">&#9660;</span></th>
          <th *ngIf="!ascName">Name  <span (click)="sortColumn('name')" style="cursor: pointer">&#9650;</span></th>
          <th *ngIf="ascVorname">Vorname <span (click)="sortColumn('vorname')" style="cursor: pointer">&#9660;</span></th>
          <th *ngIf="!ascVorname">Vorname  <span (click)="sortColumn('vorname')" style="cursor: pointer">&#9650;</span></th>
          <th *ngIf="ascEmail">Email <span (click)="sortColumn('email')" style="cursor: pointer">&#9660;</span></th>
          <th *ngIf="!ascEmail">Email  <span (click)="sortColumn('email')" style="cursor: pointer">&#9650;</span></th>
          <th >Telefon</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let person of persons;" (dblclick)="emitEventToParent(person)">
          <td>{{person.name}}</td>
          <td>{{person.vorname}}</td>
          <td>{{person.email}}</td>
          <td>{{person.telefon}}</td>
          <td><button class="btn btn-primary" (click)="deletePerson(person.id)">Delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </bs-modal-body>
</bs-modal>
