<div class="w-25 ml-xl-5" style="background-color: #b5bec6">
  <div class="row ml-xl-5">
    <div class="col-sm-3">
      <div class="mt-xl-5 text-lg-right">Name</div>
      <div class="mt-xl-5 text-lg-right">Vorname</div>
      <div class="mt-xl-5 text-lg-right">Email</div>
      <div class="mt-xl-5 text-lg-right">Telefon</div>
    </div>
    <div class="col-sm-1">
      <div class="mt-xl-5 w-50">{{person.name}}</div>
      <div class="mt-xl-5 w-25">{{person.vorname}}</div>
      <div class="mt-xl-5 w-50">{{person.email}}</div>
      <div class="mt-xl-5 w-50">{{person.telefon}}</div>
    </div>
  </div>
  <div class="text-lg-right">
    <button class="btn btn-primary" (click)="openChangePersons()">Change</button>
  </div>
  <div class="text-lg-right mt-xl-3">
    <button class="btn btn-primary" (click)="openAddPerson()">Add Person</button>
  </div>
</div>
<app-add-person-child (personRegister)="personDataChange($event)"></app-add-person-child>
<app-child (personChange)="personDataChange($event)"></app-child>
