
<div style="width: 35%">

  <table class="table">
    <tbody>
    <tr>
      <th>Name</th>
      <td>{{person.name}}</td>
    </tr>
    <tr>
      <th>Vorname</th>
      <td>{{person.vorname}}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{person.email}}</td>
    </tr>
    <tr>
      <th>Telefon</th>
      <td>{{person.telefon}}</td>
    </tr>
    </tbody>
  </table>
</div>
<app-add-person-child (personRegister)="personDataChange($event)"></app-add-person-child>
<app-child (personChange)="personDataChange($event)"></app-child>


